@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.aboutJumbo{

    background-color: transparent !important;
    color: black;
    font-size: 9vw;
    font-family: "Raleway", sans-serif;
    text-align: right;
    margin-right: 4vw;
    color: #ff6600;
}

.AboutGeneral {
    background-color: #ffd9b3;
    padding: 0vw 2vw 12vw 0vw;
    
}

.blurb{
    background-color: transparent;
    font-size: 1.8vw;
    font-family: 'Roboto', sans-serif;
}

.imageHolder{
    padding-top: 23vw;
    margin: 6vw 0vh 6vw 6vw;
    font-size: 3.5vh;
}


.images-right{
    margin-left: 0vw;
    border: 2vw solid white;
}

.images-left{
    margin-right: 0vw;
    border: 2vw solid white;
}

.images-center{
    margin: 0vw 0vw 0vw 0vw;
    border: 2.44vw solid white;
}

.about-images{
    padding-left: 4vw;
    
}