@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.intro-ombre{
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,239,223,1) 42%, rgba(255,217,179,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(42%, rgba(255,239,223,1)), color-stop(100%, rgba(255,217,179,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,239,223,1) 42%, rgba(255,217,179,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,239,223,1) 42%, rgba(255,217,179,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,239,223,1) 42%, rgba(255,217,179,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,239,223,1) 42%, rgba(255,217,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffd9b3', GradientType=0 );
}

.about-ombre{
  background: rgba(255,217,179,1);
background: -moz-linear-gradient(top, rgba(255,217,179,1) 0%, rgba(148,126,104,1) 42%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,217,179,1)), color-stop(42%, rgba(148,126,104,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(255,217,179,1) 0%, rgba(148,126,104,1) 42%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,217,179,1) 0%, rgba(148,126,104,1) 42%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,217,179,1) 0%, rgba(148,126,104,1) 42%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,217,179,1) 0%, rgba(148,126,104,1) 42%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd9b3', endColorstr='#000000', GradientType=0 );
}

.projects-ombre{
  background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(107,107,107,1) 42%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(42%, rgba(107,107,107,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(107,107,107,1) 42%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(107,107,107,1) 42%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(107,107,107,1) 42%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(107,107,107,1) 42%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}