.contact-whole{

    background-color: white;
    color: black;
}

.contact-jumbo{

    font-size: 18vh;
    background-color: transparent !important;
    color: orange;
}

.icon{

    font-size: 12vh;
}

.icon-text{

    font-size: 4vh;
}

.icon-row{

    margin-left: 4vh;
}

/*applies only to portrait-oriented devices*/
@media screen and (orientation:portrait){
    
    
    
    .contact-jumbo{
    
        font-size: 12vw;
    }
    
    .icon{
    
        font-size: 6vh;
    }
    
    .icon-text{
    
        font-size: 3vh;
    }
    
    .icon-row{
    
        margin-left: 2vw;
    }
}
