@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.jumbo {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 30vh;
    background-color:  white;
    margin-bottom: -4.5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
}

#Jumbotron {
    background-color: transparent !important;
}

#caro {
    padding: 0vh 0vh 0vh 2.5vh;
}