@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.jumbo {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 24vmin;
    background-color:  white;
    padding-top: 2vw;
    
}

#Jumbotron {
    background-color: transparent !important;
}

.caro {
    padding: 0vh 0vh 0vh 2.5vh;
}

.ombre{
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,239,223,1) 42%, rgba(255,217,179,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(42%, rgba(255,239,223,1)), color-stop(100%, rgba(255,217,179,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,239,223,1) 42%, rgba(255,217,179,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,239,223,1) 42%, rgba(255,217,179,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,239,223,1) 42%, rgba(255,217,179,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,239,223,1) 42%, rgba(255,217,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffd9b3', GradientType=0 );
}